# dependencies (bun install)
engine/node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
engine/logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
engine/.env
engine/.env.development.local
engine/.env.test.local
engine/.env.production.local
engine/.env.local

# caches
engine/.eslintcache
engine/.cache
engine/*.tsbuildinfo

# IntelliJ based IDEs
engine/.idea
engine/bun.lock
# Finder (MacOS) folder config
engine/.DS_Store
